*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    background: radial-gradient(circle farthest-corner at 50% 50%, #ffcece, color-mix(in srgb, #ffcece 0%, transparent) 89%);
}
